body {
  margin: 0;
  background-color: #99a59f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filter {
  border: 1px solid #e7eae8;
  border-radius: 10px;
}
li {
  border: none;
}

.text {
  font-size: 15px;
}

@media only screen and (max-width: 992px) {
  .filter {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .carinfo {
    display: none;
  }
  .text {
    font-size: 1.9vw;
  }
}
